{% verbatim %}
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Appointments</h1>
</div>
<div class="wrapper-md" data-ng-controller="ListPersonalAssistant"  data-ng-init="itemsByPage=10">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="panel panel-default">
    <div class="panel-heading text-right">
      <form class="form-inline" role="form">
        <select class="form-control" name="items" id="items" data-ng-model="itemsByPage">
          <option>10</option>
          <option>25</option>
          <option>50</option>
          <option>100</option>
        </select>
      </form>
    </div>
    <div class="table-responsive">
      <table st-table="displayedCollection" st-safe-src="classes" class="table table-striped table-bordered table-hover table-condensed b-t b-b">
        <thead>
        <tr>
          <th colspan="6"></th>
        </tr>
        <tr>
          <th class="text-center col-sm-1">SNo.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="personalAssistant in personalAssistants" class="text-capitalize">
          <td class="text-center" data-ng-bind="$index+1"></td>
          <td>{{ personalAssistant.user_detail.first_name }}</td>
          <td>{{ personalAssistant.user_detail.email }}</td>
          <td>{{ personalAssistant.phone_number }}</td>
          <td style="white-space: nowrap" class="text-center">
            <div class="buttons">
              <button class="btn btn-sm btn-primary" ui-sref="app.view-personal-assistant({username: personalAssistant.user_detail.username})">View</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Delete Class modal -->
  <script type="text/ng-template" id="cancel_appointment">
    <div class="modal-header">
      <h3 class="modal-title">Delete Appointment ?</h3>
    </div>
    <div class="modal-body">
        <div class="form-group clearfix">
          Are you sure you want to cancel your appointment for date {{ appointment.date|date:"dd-MMM-yyyy"}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cancel()">No</button>
          <button type="submit" class="btn btn-danger"
                  data-ng-click="cancelAppointment()" button-spinner="loading"><span ng-if="!loading">Yes</span>
          </button>
        </div>
    </div>
  </script>
</div>
{% endverbatim %}
