{% verbatim %}
<div>
<div class="mycard">
  <img src="img.jpg" alt="John" style="width:100%">
   <div class="mycontainer">
    <h1>{{ store.name }}</h1>
    <p class="title"></p>
    <p>{{ store.address }}</p>
    <div class="table-responsive">
        <table st-table="displayedCollection" st-safe-src="classes" class="table table-striped table-bordered table-hover table-condensed b-t b-b">
          <thead>
          <tr>
            <th class="text-center">Service Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Duration</th>
            
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="service in services" class="text-capitalize">
            <td class="text-center" data-ng-bind="$index+1"></td>
            <td class="text-center">{{ service.name }}</td>
            <td class="text-center">{{ service.price }}</td>
            <td class="text-center">{{ service.time_duration }} Minutes</td>
          </tr>
          </tbody>
        </table>
      </div>
    
  </div>
</div>
</div>
{% endverbatim %}