{% verbatim %}
<br><br>
<div class="container w-xxl w-auto-xs" data-ng-controller="LoginController">
  <a href class="navbar-brand block m-t">Shopper Stop</a>
  <div class="m-b-lg">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <span class="h4">Login</span>
      </div>
      <div class="panel-body">
        <form id="loginForm" name="loginForm" class="form-validation" novalidate>
          <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
          <div class="form-group">
            <input type="email" placeholder="Email" name="email" class="form-control" data-ng-model="user.email" data-ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" name="password" class="form-control" data-ng-model="user.password" data-ng-minlength="4" data-ng-maxlength="10" required>
          </div>
          <div class="form-group">
            <select class="form-control" ng-model="user.role" ng-options="role for role in roles" required>
              <option value="">Select Role</option>
            </select>
          </div>
          <button id="loginButton" class="btn btn-lg btn-success btn-block" data-ng-disabled='loginForm.$invalid || loginButtonDisabled' data-ng-click="login()" button-spinner="loading">
            <span ng-if="!loading">Login</span>
          </button>
          <div class="text-center m-t m-b"><a ui-sref="access.reset-password">Forgot Password?</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}
