{% verbatim %}
<br><br><br><br><br>
<div class="container w-xxl w-auto-xs" data-ng-controller="ResetPasswordController">
  <a href class="navbar-brand block m-t">{{app.name}}&trade;</a>
  <div class="m-b-lg">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <span class="h4">Reset Password</span>
      </div>
      <div class="panel-body">
        <form name="resetPasswordForm" class="form-validation" novalidate>
          <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
          <div class="form-group">
            <input type="email" placeholder="Email" class="form-control" data-ng-model="user.email" data-ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
          </div>
          <button id="resetPasswordButton" class="btn btn-lg btn-success btn-block" data-ng-disabled='resetPasswordForm.$invalid || resetPasswordButtonDisabled' data-ng-click="resetPassword()" button-spinner="loading">
            <span ng-if="!loading">Submit</span>
          </button>
          <div class="text-center m-t m-b"><a ui-sref="access.login">Login</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
<br><br>
{% endverbatim %}